alembic
eventlet
Flask
Flask-Migrate
Flask-Negotiate
Flask-Script
Flask-SQLAlchemy
greenlet
gunicorn
psycopg2
-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck
